<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="d-flex flex-column">
        <header class="bg-dark p-5 d-flex justify-content-between">
            <h1 class="text-primary">Blog Title</h1>
            <div>
                <button onclick="location.href='/login'" >Connexion</button>
                <button onclick="location.href='/logout'">Déconnexion</button>
                <button onclick="location.href='/register'">Inscription</button>
            </div>
        </header>
        <div class="p-3">
            {% block body %}{% endblock %}
        </div>

    </body>
</html>
