{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <p class="p-3 border">
    {{ post.content}}
    </p>

    {% if is_granted('ROLE_USER') %}
    <div>
        {% form_theme form 'bootstrap_4_layout.html.twig' %}

        {{ form(form) }}
{#        {% block comment_content_row %}#}
{#            <div>#}
{#            </div>#}
{#        {% endblock %}#}
    </div>
    {% endif %}

    <div class="d-flex flex-column p-3 border">
        <p class="font-weight-bolder"> Last Comments</p>
        {% for comment in post.comments %}
            <div class="d-flex flex-column">
                <div class="font-weight-bold">{{ comment.author.username}} says :</div>
                <div>{{ comment.content}}</div>
            </div>

        {% endfor %}
    </div>


{% endblock %}
