{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <div class="bg-gray-800 w-full py-8">
    {{ post.content}}
    </div>

    <div>
        {{ form(form) }}
    </div>

    <div>
        {% for comment in post.comments %}
            {{ comment.author}}
            {{ comment.content}}
        {% endfor %}
    </div>


{% endblock %}
